{% if is_paginated %}
  {% load query_transform %}
  <section class="py-1">
    <div class="container">
      <div class="row justify-space-between py-2">
        <div class="col-lg-4 mx-auto">
          <ul class="pagination pagination-secondary m-4">
            {# Previous Link #}
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
              <a class="page-link"
                 href="{% if page_obj.has_previous %}?{% query_transform request page=page_obj.previous_page_number %}{% else %}#{% endif %}"
                 aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
              </a>
            </li>

            {# Page Numbers #}
            {% for num in paginator.page_range %}
              {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                  <a class="page-link" href="?{% query_transform request page=num %}">{{ num }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {# Next Link #}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
              <a class="page-link"
                 href="{% if page_obj.has_next %}?{% query_transform request page=page_obj.next_page_number %}{% else %}#{% endif %}"
                 aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endif %}