{% extends "includes/base_confirm_delete.html" %}

{% block object_type %}Topic{% endblock %}

{% block object_display %}{{ topic.name }}{% endblock %}

{% block cancel_url %}{% url 'newsdesk:topic-list' %}{% endblock %}

{% block related_objects %}
  {% if topic.newspapers.exists %}
    <hr>
    <p class="mb-0">This will also delete related newspapers:</p>
    <ul class="mt-2">
      {% for newspaper in topic.newspapers.all %}
        <li>{{ newspaper.title }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}